:host{
    display: flex;
    flex-direction: column;

    max-width: 50%;
    margin: 0 25%;
}

form{
    display: flex;
    flex-direction: row;

    flex-flow: wrap;

    
}

.inputRowDiv{
    display:flex;
    
    width:100%;
}

.inputRowDiv input{
    flex-grow: 1;
}

.errorRow{
    display: flex;
    width: 100%;
}
.errorRow div{
    width:50%;
}
.errorMessage{
    width: 100%;
    

}
.errorMessage div{
    width: 100%;
    
}

.submitButton{
    display: flex;
    flex-grow: 1;
    
    justify-content: center;
}
