@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:host{
    display:flex;
    justify-content: center;
    margin: 7% 0 7% 0;
}

.gradientCut{
    
    background-color: transparent;
    width: 30vw;
    height: 30vh;
    overflow: none;
}

.gradient{
    display: flex;
    
    align-items: center;
    justify-content: center;



    background: rgb(135,7,255);
    background: radial-gradient(circle at bottom left,  rgba(135,7,255,1) 14%, rgba(168,16,218,1) 26%, rgba(211,73,235,1) 44%, rgba(219,45,151,1) 63%, rgba(255,175,0,1) 90%);
    background-position: right;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.innerCircle{
    display:block;
    position:relative;

    width: 30%;
    height: 30%;
    
    

    border: 13px solid white;

    border-radius: 50%;
}

.gradient p{
    display: block;
    position: relative;
    top: 15px;
    left: 66px;

    font-size: 25px;
    

    color:white;
    font-family: 'Atkinson Hyperlegible', sans-serif;

    
}


  